name: dev-deployment
on:
  push:
    branches:
      - master

permissions:
  id-token: write
  contents: read
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          ARM_CLIENT_ID: ${{ secrets.ARM_CLIENT_ID }}
          ARM_TENANT_ID: ${{ secrets.ARM_TENANT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.ARM_SUBSCRIPTION_ID }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.5.6

      - name: Initialize Terraform
        working-directory: Terraform-to-do-infra/Env/dev
        run: terraform init

      - name: Validate Terraform configuration
        working-directory: Terraform-to-do-infra/Env/dev
        run: terraform validate

      - name: Plan Terraform deployment
        working-directory: Terraform-to-do-infra/Env/dev
        run: terraform plan


      - name: Apply Terraform configuration
        working-directory: Terraform-to-do-infra/Env/dev
        run: terraform apply -auto-approve
