name: dev-deployment
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: 1.5.6

      - name: Initialize Terraform
        working-directory: ./Env/dev
        run: terraform init

      - name: Validate Terraform configuration
        working-directory: ./Env/dev
        run: terraform validate

      - name: Plan Terraform deployment
        working-directory: ./Env/dev
        run: terraform plan


      - name: Apply Terraform configuration
        working-directory: ./Env/dev
        run: terraform apply -auto-approve
